
.altaBody {
    display: flex;       
    justify-content:space-evenly;
    font-family: 'FontAwesome', sans-serif;
    background: url('../assets/images/fondo1.jpeg') no-repeat;
        /*Ajusta la imagen al tamaño real*/
    background-size: cover;
     /*Sin esto la otra imagen queda mejor*/
     background-position: center;
}



/*Boton para volver atras*/

.icon.gestion{
   position: absolute;
   top: 100px;
   left: 100px;
}
.one{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position:relative;
    border-radius: 12px;
}

.one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red,blue,deeppink,blue,
        red,blue,deeppink,blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.boxAlta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 460px;
    background: transparent;
    border: 2px solid rgb(255,255,255,.5);
    border-radius: 20px;
    /*Filtro para que se vea el contenido del formulario*/
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0,0,0,.5);
    /*display: flex*/
    display:flexbox;
    /*flex-direction: column;*/
    /*Centra el contenido del contenedor*/
    justify-content: center;
    align-items: center;
}

/* El bloque de inputs*/
.boxAlta .input-box {
    width: 100%;
    padding: 40px;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /*Lineas que separan los inputs*/
    border-bottom: 2px solid #CCFFFF;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    /*Movimineto ante cualquier transicion o modificación que se haga*/
    transition: .5s;
}

.input-box input {
    background-color: white;
    border-radius: 6px;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    font-size:large;
    padding: 0 35px 0 5px;
}
.input-box select {

    background-color: white;
    border-radius: 6px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 700;
    font-size:large;
    padding: 0 35px 0 5px
}


button {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    color: #CCFFFF;
    font-weight: 500;
     animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, .99);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}