*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .gestionBody {
    font-family: 'FontAwesome', sans-serif;
    background: url('../assets/images/fondo1.jpeg') no-repeat;
        /*Ajusta la imagen al tamaño real*/
    background-size: cover;
     /*Sin esto la otra imagen queda mejor*/
     background-position: center;
  }
  
  .container-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FFF; */
    min-width: 500px;
    display: flex;
    justify-content: space-between;
  }
  
  .container-buttons a {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    /* line-height: 70px; */
    color: #FFF;
    background-color: #000;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    font-size: 2.2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
  }
  
  .container-buttons a::before {
    content: "";
    display: block;
    margin: 19px 0;
    transition: all .5s ease-in-out;
  }
  
  .container-buttons a::after {
    display: block;

  }


/***********************************************/
  /*Icono Alta color*/

  .container-buttons .one{
    background-color: #FFC107;
  }
  .container-buttons .icon.alta .tooltip{
    background-color: #FFC107;
    color: white;
  }

  /*Icono tabla color*/
  .container-buttons .icon.tabla .tooltip{
    background-color: #1976D2;
    color: #fff;
  }
  
  .container-buttons .two {
    background-color: #1976D2;
  }

  /*Icono logout color*/
  .container-buttons .three {
    background-color: #E0E0E0;
  }
  .container-buttons .icon.logOut .tooltip {
    background-color: #E0E0E0;
    color: #333333;
  }
  
/***********************************************************/
  /*Titulos Diseño*/
.container-buttons .icon .tooltip{
    position: absolute;
    top:0px;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.container-buttons .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;

}

.container-buttons .icon .tooltip::before{
    position:absolute;
    height: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}



